@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* formating web */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
/* variables */
:root{
    --main-color:#FCD618;
    --second-color:#222;
    --main-modal-color:rgba(247,222,30,0.85);
    --second-modal-color:rgba(34,34,34,0.85);
    --container-width:1200px;
}
/* smooth scrolling */
html{
    scroll-behavior: smooth;
}
/* fixing the top of the body */
body{
    padding-top: 10vh;
    overflow-x: hidden;
}
/* header */
header{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 10vh;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;    
}
header>h1{
    font-size: 2em;
}
.btn-fixed{
    position: fixed;
    z-index: 999;
    z-index: 999;
    height: 4.5rem;
    width: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    border-radius: 50px;
    border: 0;
}
#btn_upScroll{
    display: none;
    right: 10vw;
    bottom: 1vh;
}
#btn_upScroll>i{
    font-size: 2em;
}
#btn_themeChanger{
    left: 1vw;
    bottom: 1vh;
}
#btn_themeChanger>i{
    font-size: 2em;
}
#sun{
    display: none;
}
.hamburger{
    right: 1vh;
    bottom: 1vh;
}
/* sections */
.section-body{
    padding: 2em;
    text-align: center;
    width: 100%;
    min-height: 100vh;
}
.section-body>h2{
    font-size: 24px;
}
.clickable:hover{
    cursor: pointer;
}
/* nav menu */
.menu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.menu>a{
    padding: .7em 0;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    list-style: none;
    font-weight: 800;
    color: var(--main-color);
    font-size: 1.6em;
    text-decoration: none;
}
.menu>a:hover{
    cursor: pointer;
    background-color: var(--main-color);
    color: var(--second-color);
}
.panel{
    transform: translate(0,-100%);
    width: 100%;
    height: 100vh;
    background-color: var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 998;
    transition: transform .3s ease;
    top: 0;
    padding: 9em 0;
}
/* class to show the menu */
.is-active{
    transform: translate(0,0);
}
/* section 1 */
#section1{
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* btn clock style */
.btn{
    background-color: var(--main-color);
    border: 1px solid var(--second-color);
    font-weight: 600;
    padding: .5em 1em;
    margin-top: .5em;
    border-radius: 50px;
}
.btn:hover{
    cursor: pointer;
}
/* clock display style */
#clock{
    margin-top: .5em;
    font-size: 2em;
    font-weight: 400;
}
/* kebord events */
.stage{
    display: flex;
    min-height: 50vh;
    background-color: var(--second-color);
}
.ball{
    margin: auto;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--main-color);
}
/* theme toggle classes */
.change-theme{
    background-color: var(--second-color);
    color: var(--main-color);
}
.change-theme>header{
    color: var(--second-color);
}
.change-theme>.section-body>.stage{
    background-color: white;
}
.change-theme>.section-body>#youtube>a{
    color: var(--main-color);
}
.change-theme>.section-body>#gmaps>a{
    color: var(--main-color);
}
.change-theme>#btn_themeChanger>.fa-sun{
    display: block;
}
.change-theme>#btn_themeChanger>.fa-moon{
    display: none;
}
/* responsive js section */
#youtube>a{
    color: var(--second-color);
    text-decoration: none;
}
#gmaps>a{
    color: var(--second-color);
    text-decoration: none;
}
/* Network Status */
.online,
.offline{
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background-color: #1b5e20;
    color: #fff;
}

.offline{
    background-color: #b71c1c;
}
/* geolocation */
#geolocationOutput>a{
    text-decoration: none;
    color: var(--main-color)
}